<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpD6493198A480101FF6F82F7174D09A71" Guid="*">
                <File Id="filEB8D53A8C23631C31D5D803F4B315074" KeyPath="yes" Source="$(var.BasePath)\Antlr4.Runtime.Standard.dll" />
            </Component>
            <Component Id="cmpA0863526952F7834E7C922F065E4C8A8" Guid="*">
                <File Id="filC04B02D0CCC2D5CCC1013B35DE86DB29" KeyPath="yes" Source="$(var.BasePath)\appsettings.Development.json" />
            </Component>
            <Component Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" Guid="*">
                <File Id="fil840B80AC19861C7F9F04FBDCFAE331CE" KeyPath="yes" Source="$(var.BasePath)\appsettings.json" />
            </Component>
            <Component Id="cmp78FFEF38FE443FE2C21562879531DD51" Guid="*">
                <File Id="fil4B3E5A517DDABF1105CD5A627B9CAC54" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Common.Configuration.dll" />
            </Component>
            <Component Id="cmp60DF67061F6064C5A8AECA2C0D57398E" Guid="*">
                <File Id="fil8DB4C9E1FE60295E4D17908705EA119A" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Common.Configuration.Entity.dll" />
            </Component>
            <Component Id="cmp2736F1619C7F5BF5495CF88D124EC162" Guid="*">
                <File Id="fil52D3DCB763B8A0A9D4DD6959CFF9DCCF" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Common.DataProvider.Abstractions.dll" />
            </Component>
            <Component Id="cmpD0AFD79649595BCADF9866F94C8B6B1E" Guid="*">
                <File Id="fil204DE9559A081A8815E55AFC4A7C9DD3" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Common.Entity.dll" />
            </Component>
            <Component Id="cmp679B47C163CBD8B1A129941F70AE0C8A" Guid="*">
                <File Id="fil3C04A88F062E45C333EBA47E0533EAC3" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Common.Model.EntityId.dll" />
            </Component>
            <Component Id="cmpE9E2C94B8DE90E36A9C3E7074D1E27F6" Guid="*">
                <File Id="fil04894E408B459BC6839A40B8ECE0359D" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Common.Model.EventSourcing.dll" />
            </Component>
            <Component Id="cmp1668F3A78209E7570C0D16AAA897CDFB" Guid="*">
                <File Id="filCDE6DDB00E94E49F8CEBEDE647E84938" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Common.Response.dll" />
            </Component>
            <Component Id="cmp74ACB83CC414516FEBBB58309B67FBEC" Guid="*">
                <File Id="fil65BD2C3DD8A908C80A4B1B61DB025654" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Common.Utilities.dll" />
            </Component>
            <Component Id="cmpACA965FD438C210366A6CC88F43DF85A" Guid="*">
                <File Id="fil825AC7AA8934A0DCD1E2D4F14FEEBE07" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Authentication.Certificates.dll" />
            </Component>
            <Component Id="cmp1FEBB448685A1704DB1F5307C7CCFBC5" Guid="*">
                <File Id="fil92EBE9D540DFF7460B4238CAEC9CFD78" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Authentication.Certificates.pdb" />
            </Component>
            <Component Id="cmp0DE8B80319A204CA106DF0AD3CB9690F" Guid="*">
                <File Id="fil0EA76DE5CBCEF5F49BF9DAE29A48B216" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Common.dll" />
            </Component>
            <Component Id="cmpA6D3F7C5ADC2639C4C420E88002E4676" Guid="*">
                <File Id="filDE5854A9905C2B8F9F5A293DD2C4C517" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Common.pdb" />
            </Component>
            <Component Id="cmp49536B7B122A810BB496880C3EEE4A7C" Guid="*">
                <File Id="fil1A9782B606E7F7F8576380DE956D3B42" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Configuration.dll" />
            </Component>
            <Component Id="cmpE8888255E167428123B041B769F364D5" Guid="*">
                <File Id="filDBB24F153DE985461E53DE01D65E6F98" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Configuration.pdb" />
            </Component>
            <Component Id="cmp427E3C63B95A454D007AD1F9DAA43A5A" Guid="*">
                <File Id="fil303F5037456C2A7B34BEB9993FD46157" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.deps.json" />
            </Component>
            <Component Id="cmp423DA50D8914CCB85F4A8953A629D24B" Guid="*">
                <File Id="fil8EFACB5C8B2E88BD9F70A69E6B237B7C" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.dll" />
            </Component>
            <Component Id="cmpE3F9E780D8D49F4A9FBA960AF7AE36ED" Guid="*">
                <File Id="filB6ED9CB69959B1F2FC38CDCA0AE643C4" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Migrations.dll" />
            </Component>
            <Component Id="cmp95BD47A02755DCADAA949425224389D2" Guid="*">
                <File Id="fil85D8EFB0811E6E88BC3108620D16C4B2" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Migrations.pdb" />
            </Component>
            <Component Id="cmp1AAB9E9DAB88B5C7573D47F3CF0B7986" Guid="*">
                <File Id="fil4941C2728CFB2DF1377A408F62C967C3" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Parsing.dll" />
            </Component>
            <Component Id="cmp914CBB1C69FBDF7DC1118B254521920F" Guid="*">
                <File Id="filAA6E1DDC4F33CABE81A9513079B19016" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.Parsing.pdb" />
            </Component>
            <Component Id="cmpC4DB7D54D1A420C5268787DB3206A9C8" Guid="*">
                <File Id="fil98D1717E701108B8A23040C3174752E4" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.pdb" />
            </Component>
            <Component Id="cmp0B16E4EDF184FB154ACECC309CA48A5E" Guid="*">
                <File Id="fil289FA227447422634594D6ED810A26D8" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.runtimeconfig.json" />
            </Component>
            <Component Id="cmp6CAC4C18BD044BEBB656C588E08AB198" Guid="*">
                <File Id="fil572773F60F49DD64B182F6FDB18CCF06" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.ConfigService.xml" />
            </Component>
            <Component Id="cmp7C5FAE5E325F1AC780FF626C38056E7C" Guid="*">
                <File Id="filFC8003C618C9544757CC45FBC5273BF9" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Core.EventBus.dll" />
            </Component>
            <Component Id="cmpA688F647BD4E40FA4CAD2F30B661E303" Guid="*">
                <File Id="fil93D90E7C6D4668E7CDA3B34D4AF85A52" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Core.EventBus.Events.dll" />
            </Component>
            <Component Id="cmpD9FD2156526CFE486F6A2945E8059406" Guid="*">
                <File Id="fil2A0868A7AD608F3A41D9F44121F199F8" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Logging.Common.dll" />
            </Component>
            <Component Id="cmp0DECB4C50148F8A203892F8B0F7E99A2" Guid="*">
                <File Id="filC19FEC7C739C36144B7E280FDBFE00CA" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Logging.NLog.dll" />
            </Component>
            <Component Id="cmpA70E6ECA15013057E7345C758D4BCA32" Guid="*">
                <File Id="fil0CE27FC8156D21166C4CB085897A55C7" KeyPath="yes" Source="$(var.BasePath)\Bechtle.A365.Maverick.Core.Health.dll" />
            </Component>
            <Component Id="cmpEC4DB6288585F4295C83D26582A1AD61" Guid="*">
                <File Id="fil93E3E49151D61808CE5C4EB5120C043D" KeyPath="yes" Source="$(var.BasePath)\DotNetZip.dll" />
            </Component>
            <Component Id="cmp1416C3D3F39D9287DB19F3BCC92BACB8" Guid="*">
                <File Id="filD78B0700B783EF6D4B88213184DE584F" KeyPath="yes" Source="$(var.BasePath)\EventStore.ClientAPI.dll" />
            </Component>
            <Component Id="cmp08C3B3DBF1C427767053F4120ABC92B7" Guid="*">
                <File Id="fil3C92D4ECD026170F29D6B86EE8866971" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Http.Connections.Client.dll" />
            </Component>
            <Component Id="cmp8576B6156BF671E44DCA87480DF7B468" Guid="*">
                <File Id="filDC7FCE00EEEEC0868E0C660A5196286A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Mvc.Core.dll" />
            </Component>
            <Component Id="cmp90B84065B423E13077CFE302A1EAF8D5" Guid="*">
                <File Id="fil2D451C2756DD3A063D9B5D001280AD05" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.dll" />
            </Component>
            <Component Id="cmp81015F934149FC8877A7F508324F01AF" Guid="*">
                <File Id="fil7DB2AFC3DDCC42180A1B18E20FF48983" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.Mvc.Versioning.dll" />
            </Component>
            <Component Id="cmpE1E09B6DDC64C85D83FAB62D029B7F4F" Guid="*">
                <File Id="fil58F0FB9DF15BEF1709CA32BE97845336" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Client.Core.dll" />
            </Component>
            <Component Id="cmp32FCF5E0265FA9A524F3CAF451100391" Guid="*">
                <File Id="filEB5B3B14368420179246FD2CA21064C7" KeyPath="yes" Source="$(var.BasePath)\Microsoft.AspNetCore.SignalR.Client.dll" />
            </Component>
            <Component Id="cmpF6638B4348C85D6A2F1219A3502A560F" Guid="*">
                <File Id="fil41A831787271EAF16C45C5BCB537E199" KeyPath="yes" Source="$(var.BasePath)\Microsoft.EntityFrameworkCore.Abstractions.dll" />
            </Component>
            <Component Id="cmpB05D97B236E158CA575FDF128B865932" Guid="*">
                <File Id="filCB7535D40A0BAED61543FE423990007D" KeyPath="yes" Source="$(var.BasePath)\Microsoft.EntityFrameworkCore.Design.dll" />
            </Component>
            <Component Id="cmp8ECB45C87038A07C9C036DACB12BD3D3" Guid="*">
                <File Id="filFEE672B37FD89848D8A45C0C8751EECD" KeyPath="yes" Source="$(var.BasePath)\Microsoft.EntityFrameworkCore.dll" />
            </Component>
            <Component Id="cmp3D0A5CB47707279B9AED9C4655BA24DD" Guid="*">
                <File Id="fil4C803CF4486F15F8392710290E97A2D4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.EntityFrameworkCore.Relational.dll" />
            </Component>
            <Component Id="cmp9583A430B4AAA75B6C29258548C11E3F" Guid="*">
                <File Id="filA10FCE7E4F801C23EF6E12CEF08853B5" KeyPath="yes" Source="$(var.BasePath)\Microsoft.EntityFrameworkCore.SqlServer.dll" />
            </Component>
            <Component Id="cmp70F367A6DA7599FD23CCED349BE4ACC0" Guid="*">
                <File Id="fil83C490E9866E4347C1EDD70BF58DF817" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Caching.StackExchangeRedis.dll" />
            </Component>
            <Component Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" Guid="*">
                <File Id="filA09ADF42C6343B9B7C7780D266455CC4" KeyPath="yes" Source="$(var.BasePath)\NLog.dll" />
            </Component>
            <Component Id="cmp4387649DAD23EB7D89C77DC64718A932" Guid="*">
                <File Id="fil57B300FDC47BDE7F084BFB62C027FAB8" KeyPath="yes" Source="$(var.BasePath)\NLog.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp204F4D7287FEDD3E218772B6F7F595AC" Guid="*">
                <File Id="filD68E8252D4929E05FE536F33956F72C5" KeyPath="yes" Source="$(var.BasePath)\Nlog.RabbitMQ.Target.dll" />
            </Component>
            <Component Id="cmp020E58F0A6053EAC5916251B0901C4B2" Guid="*">
                <File Id="fil4642398C81C805C380814318947CCD88" KeyPath="yes" Source="$(var.BasePath)\NLog.Web.AspNetCore.dll" />
            </Component>
            <Component Id="cmp1D373F2EE04B834A7EA8C62E40373A2B" Guid="*">
                <File Id="filC17689B07A9786C6CD47C566B7B7B275" KeyPath="yes" Source="$(var.BasePath)\Npgsql.dll" />
            </Component>
            <Component Id="cmp470704DFDD0C9EEB8B92CA560549946F" Guid="*">
                <File Id="fil2CF4CE943BD29D9C4AE633252269BB9F" KeyPath="yes" Source="$(var.BasePath)\Npgsql.EntityFrameworkCore.PostgreSQL.dll" />
            </Component>
            <Component Id="cmp5E879A4C938D654B8C2D21BA3F0BF930" Guid="*">
                <File Id="fil39519FE2E05BBE8D17958F18569ECE57" KeyPath="yes" Source="$(var.BasePath)\Pipelines.Sockets.Unofficial.dll" />
            </Component>
            <Component Id="cmp079F957BF600F15E13C0301641E0D378" Guid="*">
                <File Id="fil30A671C60B3821827C93BCC0314C707C" KeyPath="yes" Source="$(var.BasePath)\protobuf-net.dll" />
            </Component>
            <Component Id="cmp6970801058B55778AFF17B5155D43327" Guid="*">
                <File Id="filDF49CE88DF0DFB04C7E21019CCFD7440" KeyPath="yes" Source="$(var.BasePath)\RabbitMQ.Client.dll" />
            </Component>
            <Component Id="cmp8D5434D4EDF02E7004A0CEC987C5BC30" Guid="*">
                <File Id="filBC110B8E2CCB13B8699F17490D463974" KeyPath="yes" Source="$(var.BasePath)\Remotion.Linq.dll" />
            </Component>
            <Component Id="cmp1700AD1A1DDC7CF50E12B26511C6C739" Guid="*">
                <File Id="fil808BF9325E36815F518F500DC770394E" KeyPath="yes" Source="$(var.BasePath)\StackExchange.Redis.dll" />
            </Component>
            <Component Id="cmp013A04F13FEF865E687AAE7918B178B1" Guid="*">
                <File Id="filC16BCC8B7F11A50E5A46DA67D68F8FFE" KeyPath="yes" Source="$(var.BasePath)\Swashbuckle.AspNetCore.dll" />
            </Component>
            <Component Id="cmpA5FED8161FD657378956DA3AE3A09E60" Guid="*">
                <File Id="fil7EB779D9EA12DB7462D668771EA0457E" KeyPath="yes" Source="$(var.BasePath)\Swashbuckle.AspNetCore.Swagger.dll" />
            </Component>
            <Component Id="cmp77BB727475A9C0C22B87E602EE0EA12F" Guid="*">
                <File Id="fil06F08ABCD4DA3566917909BDD198019A" KeyPath="yes" Source="$(var.BasePath)\Swashbuckle.AspNetCore.SwaggerGen.dll" />
            </Component>
            <Component Id="cmpAE2F03F3EC76BE9BA5592C207C8B71D3" Guid="*">
                <File Id="fil9925E9534260FA55C001BC83EC0C02A9" KeyPath="yes" Source="$(var.BasePath)\Swashbuckle.AspNetCore.SwaggerUI.dll" />
            </Component>
            <Component Id="cmp89F5F904B3CAF843A281A5A84D668E1E" Guid="*">
                <File Id="fil7882FAF25832DB256D31EEFC7582E0FF" KeyPath="yes" Source="$(var.BasePath)\System.Configuration.ConfigurationManager.dll" />
            </Component>
            <Component Id="cmp7FFA1CFB45EDA1442E42E34E1F3DB27E" Guid="*">
                <File Id="filEF4B8F9C45AD18CA9F559E7A542D0C98" KeyPath="yes" Source="$(var.BasePath)\System.Data.SqlClient.dll" />
            </Component>
            <Component Id="cmp28698F3E40E97D0D04ED87AE917B13C7" Guid="*">
                <File Id="fil07DA91370126729501EE3756F11EC693" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.PerformanceCounter.dll" />
            </Component>
            <Component Id="cmpACDBAE59B9584DAADFCFCDB7304FC635" Guid="*">
                <File Id="fil62A039AEAD67D242294347423492FF6D" KeyPath="yes" Source="$(var.BasePath)\System.Interactive.Async.dll" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="*">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp9D1519D872AF6E420B3F121C523F1D76" Guid="*">
                <File Id="fil66E90D2D4495A8A6DC2B7FB12981C567" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.ProtectedData.dll" />
            </Component>
            <Component Id="cmpC8B4E2670FF4E41E22F95F7602D47941" Guid="*">
                <File Id="filD24E7EB030C37BD02FFD79DEBC566F07" KeyPath="yes" Source="$(var.BasePath)\System.ServiceModel.dll" />
            </Component>
            <Component Id="cmpF9FE3EF269B462CCFCD03056FED69C64" Guid="*">
                <File Id="fil4FCB7A69DE1E01B29199EA8BD9B5E458" KeyPath="yes" Source="$(var.BasePath)\System.ServiceModel.Primitives.dll" />
            </Component>
            <Component Id="cmp3111300711520E1E5FE2933E642DA29F" Guid="*">
                <File Id="fil1A0D25A762964F5C1F5E598DAE4D7F6C" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.CodePages.dll" />
            </Component>
            <Component Id="cmpB139B49DF4DF8F44C525B449EA8187F7" Guid="*">
                <File Id="filE7A3E65CC622C2E3B9B57707B12C9645" KeyPath="yes" Source="$(var.BasePath)\web.config" />
            </Component>
            <Directory Id="dir58E8247E2885C01898CAD009F9EFD8BA" Name="runtimes">
                <Directory Id="dirDD6F90495A1A6169171F36CE85E975B6" Name="unix">
                    <Directory Id="dirF5C312D00ABBDC163194A7BEF01BFACF" Name="lib">
                        <Directory Id="dir6FAA93F403AFB5CB578180C70AA97B20" Name="netcoreapp2.1">
                            <Component Id="cmp52265459CE0E3735C070A841DE38FB3D" Guid="*">
                                <File Id="fil574701FF4B1EAF3F8619654B87031E82" KeyPath="yes" Source="$(var.BasePath)\runtimes\unix\lib\netcoreapp2.1\System.Data.SqlClient.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dir352B97B7988CCEBE29583D72A819B5E3" Name="netstandard2.0">
                            <Component Id="cmp9E5DCFB2A18084B10CB89A0B38798E49" Guid="*">
                                <File Id="fil0672BEA35C7EC3EEFFF6A3AFDF6BFF19" KeyPath="yes" Source="$(var.BasePath)\runtimes\unix\lib\netstandard2.0\System.Private.ServiceModel.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir9BE9104649A116CC7BCCF4D9CCD3331B" Name="win">
                    <Directory Id="dirD19B0610952D1EE2D417EB5361695989" Name="lib">
                        <Directory Id="dirE6C91B9343029DAC8410CDFBF32A7D8C" Name="netcoreapp2.0">
                            <Component Id="cmp056CE8404951F32D71AED926FB635ECA" Guid="*">
                                <File Id="fil0C82A311ACD95BCAB61D25EFA3305A43" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netcoreapp2.0\System.Diagnostics.PerformanceCounter.dll" />
                            </Component>
                            <Component Id="cmp3B81E2EAA93F7BD1711B76C58615EF55" Guid="*">
                                <File Id="fil276252386F12EB1253A6539C9B25A749" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netcoreapp2.0\System.Text.Encoding.CodePages.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dirC7A12D033E10A7A61C2BB3B7672AF3F7" Name="netcoreapp2.1">
                            <Component Id="cmp0C8EB2A341EF26254BB3DDAF4477B7B4" Guid="*">
                                <File Id="filB5E554704B74F71F567EBF3E7327F0E1" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netcoreapp2.1\System.Data.SqlClient.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dir9B4F20F396822EEA06946FAEF0EA799A" Name="netstandard2.0">
                            <Component Id="cmp43912F9DCE98FF71B0CC55A723E3E80C" Guid="*">
                                <File Id="filE0967326D5285E7409F89BD504E46900" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netstandard2.0\System.Private.ServiceModel.dll" />
                            </Component>
                            <Component Id="cmp5E0E35D938278EA60B8D182B1969317E" Guid="*">
                                <File Id="fil08B33F289C1D1E3A97086A6403821DCC" KeyPath="yes" Source="$(var.BasePath)\runtimes\win\lib\netstandard2.0\System.Security.Cryptography.ProtectedData.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirFF6AADC4B618984E1542CDA5FCBD7BB1" Name="win-arm64">
                    <Directory Id="dir65EC979D52EB501E3A656AA03EE4F2F5" Name="native">
                        <Component Id="cmp3002D02E8CBA7FB0714D10077A135748" Guid="*">
                            <File Id="fil9C23EE39EC9930FF59D47EAD3A8DCA11" KeyPath="yes" Source="$(var.BasePath)\runtimes\win-arm64\native\sni.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirB9C75524282911E40C3C964A8836A714" Name="win-x64">
                    <Directory Id="dir1F9DF9DD2FB29AE2942604FAC206D5C4" Name="native">
                        <Component Id="cmp2132F8D4914AC627374DF6B641DED868" Guid="*">
                            <File Id="filF502A2486EBDDB05E379A61C52926963" KeyPath="yes" Source="$(var.BasePath)\runtimes\win-x64\native\sni.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir92F336DAA82E5A629052407A3F87EF27" Name="win-x86">
                    <Directory Id="dir2B43AAE918D399CEF13EC6CBA2D3D5EA" Name="native">
                        <Component Id="cmpA69E1C886BEA900FBD4C325C11705F70" Guid="*">
                            <File Id="fil0714DC5AB4297BE12792CA5DAD04698C" KeyPath="yes" Source="$(var.BasePath)\runtimes\win-x86\native\sni.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="dir2AD8117930DD493E3C22DB9F3589FEC0" Name="ServiceCerts">
                <Component Id="cmpBC4FF2C087F9DF0E79909ED37A7C2F94" Guid="*">
                    <File Id="fil786E2ADB0F70E68FEDC7358F4BC68E7F" KeyPath="yes" Source="$(var.BasePath)\ServiceCerts\.gitignore" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="App_Publish">
            <ComponentRef Id="cmpD6493198A480101FF6F82F7174D09A71" />
            <ComponentRef Id="cmpA0863526952F7834E7C922F065E4C8A8" />
            <ComponentRef Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" />
            <ComponentRef Id="cmp78FFEF38FE443FE2C21562879531DD51" />
            <ComponentRef Id="cmp60DF67061F6064C5A8AECA2C0D57398E" />
            <ComponentRef Id="cmp2736F1619C7F5BF5495CF88D124EC162" />
            <ComponentRef Id="cmpD0AFD79649595BCADF9866F94C8B6B1E" />
            <ComponentRef Id="cmp679B47C163CBD8B1A129941F70AE0C8A" />
            <ComponentRef Id="cmpE9E2C94B8DE90E36A9C3E7074D1E27F6" />
            <ComponentRef Id="cmp1668F3A78209E7570C0D16AAA897CDFB" />
            <ComponentRef Id="cmp74ACB83CC414516FEBBB58309B67FBEC" />
            <ComponentRef Id="cmpACA965FD438C210366A6CC88F43DF85A" />
            <ComponentRef Id="cmp1FEBB448685A1704DB1F5307C7CCFBC5" />
            <ComponentRef Id="cmp0DE8B80319A204CA106DF0AD3CB9690F" />
            <ComponentRef Id="cmpA6D3F7C5ADC2639C4C420E88002E4676" />
            <ComponentRef Id="cmp49536B7B122A810BB496880C3EEE4A7C" />
            <ComponentRef Id="cmpE8888255E167428123B041B769F364D5" />
            <ComponentRef Id="cmp427E3C63B95A454D007AD1F9DAA43A5A" />
            <ComponentRef Id="cmp423DA50D8914CCB85F4A8953A629D24B" />
            <ComponentRef Id="cmpE3F9E780D8D49F4A9FBA960AF7AE36ED" />
            <ComponentRef Id="cmp95BD47A02755DCADAA949425224389D2" />
            <ComponentRef Id="cmp1AAB9E9DAB88B5C7573D47F3CF0B7986" />
            <ComponentRef Id="cmp914CBB1C69FBDF7DC1118B254521920F" />
            <ComponentRef Id="cmpC4DB7D54D1A420C5268787DB3206A9C8" />
            <ComponentRef Id="cmp0B16E4EDF184FB154ACECC309CA48A5E" />
            <ComponentRef Id="cmp6CAC4C18BD044BEBB656C588E08AB198" />
            <ComponentRef Id="cmp7C5FAE5E325F1AC780FF626C38056E7C" />
            <ComponentRef Id="cmpA688F647BD4E40FA4CAD2F30B661E303" />
            <ComponentRef Id="cmpD9FD2156526CFE486F6A2945E8059406" />
            <ComponentRef Id="cmp0DECB4C50148F8A203892F8B0F7E99A2" />
            <ComponentRef Id="cmpA70E6ECA15013057E7345C758D4BCA32" />
            <ComponentRef Id="cmpEC4DB6288585F4295C83D26582A1AD61" />
            <ComponentRef Id="cmp1416C3D3F39D9287DB19F3BCC92BACB8" />
            <ComponentRef Id="cmp08C3B3DBF1C427767053F4120ABC92B7" />
            <ComponentRef Id="cmp8576B6156BF671E44DCA87480DF7B468" />
            <ComponentRef Id="cmp90B84065B423E13077CFE302A1EAF8D5" />
            <ComponentRef Id="cmp81015F934149FC8877A7F508324F01AF" />
            <ComponentRef Id="cmpE1E09B6DDC64C85D83FAB62D029B7F4F" />
            <ComponentRef Id="cmp32FCF5E0265FA9A524F3CAF451100391" />
            <ComponentRef Id="cmpF6638B4348C85D6A2F1219A3502A560F" />
            <ComponentRef Id="cmpB05D97B236E158CA575FDF128B865932" />
            <ComponentRef Id="cmp8ECB45C87038A07C9C036DACB12BD3D3" />
            <ComponentRef Id="cmp3D0A5CB47707279B9AED9C4655BA24DD" />
            <ComponentRef Id="cmp9583A430B4AAA75B6C29258548C11E3F" />
            <ComponentRef Id="cmp70F367A6DA7599FD23CCED349BE4ACC0" />
            <ComponentRef Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" />
            <ComponentRef Id="cmp4387649DAD23EB7D89C77DC64718A932" />
            <ComponentRef Id="cmp204F4D7287FEDD3E218772B6F7F595AC" />
            <ComponentRef Id="cmp020E58F0A6053EAC5916251B0901C4B2" />
            <ComponentRef Id="cmp1D373F2EE04B834A7EA8C62E40373A2B" />
            <ComponentRef Id="cmp470704DFDD0C9EEB8B92CA560549946F" />
            <ComponentRef Id="cmp5E879A4C938D654B8C2D21BA3F0BF930" />
            <ComponentRef Id="cmp079F957BF600F15E13C0301641E0D378" />
            <ComponentRef Id="cmp6970801058B55778AFF17B5155D43327" />
            <ComponentRef Id="cmp8D5434D4EDF02E7004A0CEC987C5BC30" />
            <ComponentRef Id="cmp1700AD1A1DDC7CF50E12B26511C6C739" />
            <ComponentRef Id="cmp013A04F13FEF865E687AAE7918B178B1" />
            <ComponentRef Id="cmpA5FED8161FD657378956DA3AE3A09E60" />
            <ComponentRef Id="cmp77BB727475A9C0C22B87E602EE0EA12F" />
            <ComponentRef Id="cmpAE2F03F3EC76BE9BA5592C207C8B71D3" />
            <ComponentRef Id="cmp89F5F904B3CAF843A281A5A84D668E1E" />
            <ComponentRef Id="cmp7FFA1CFB45EDA1442E42E34E1F3DB27E" />
            <ComponentRef Id="cmp28698F3E40E97D0D04ED87AE917B13C7" />
            <ComponentRef Id="cmpACDBAE59B9584DAADFCFCDB7304FC635" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmp9D1519D872AF6E420B3F121C523F1D76" />
            <ComponentRef Id="cmpC8B4E2670FF4E41E22F95F7602D47941" />
            <ComponentRef Id="cmpF9FE3EF269B462CCFCD03056FED69C64" />
            <ComponentRef Id="cmp3111300711520E1E5FE2933E642DA29F" />
            <ComponentRef Id="cmpB139B49DF4DF8F44C525B449EA8187F7" />
            <ComponentRef Id="cmp52265459CE0E3735C070A841DE38FB3D" />
            <ComponentRef Id="cmp9E5DCFB2A18084B10CB89A0B38798E49" />
            <ComponentRef Id="cmp056CE8404951F32D71AED926FB635ECA" />
            <ComponentRef Id="cmp3B81E2EAA93F7BD1711B76C58615EF55" />
            <ComponentRef Id="cmp0C8EB2A341EF26254BB3DDAF4477B7B4" />
            <ComponentRef Id="cmp43912F9DCE98FF71B0CC55A723E3E80C" />
            <ComponentRef Id="cmp5E0E35D938278EA60B8D182B1969317E" />
            <ComponentRef Id="cmp3002D02E8CBA7FB0714D10077A135748" />
            <ComponentRef Id="cmp2132F8D4914AC627374DF6B641DED868" />
            <ComponentRef Id="cmpA69E1C886BEA900FBD4C325C11705F70" />
            <ComponentRef Id="cmpBC4FF2C087F9DF0E79909ED37A7C2F94" />
        </ComponentGroup>
    </Fragment>
</Wix>