<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">

  <?define ServiceName="ConfigService Projection"?>

  <Product Id="1c1e00df-713d-4a78-98a8-0db784739105"
           Name="Maverick $(var.ServiceName)"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="Bechtle"
           UpgradeCode="31e46009-0c19-413a-9bef-68ecd77ef806">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="EVENTBUSCONNECTIONSERVER" Value="localhost" />
    <Property Id="EVENTSTORECONNECTIONURI" Value="tcp://user:passwort@localhost:1113" />
    <Property Id="PROJECTIONSTORAGEBACKEND" Value="MsSql" />
    <Property Id="PROJECTIONSTORAGECONNECTIONSTRING" Value="Server=localhost; Database=A365ConfigProjection; User Id=; Password=;" />
    <Property Id="RABBITMQHOST" Value="localhost" />
    <Property Id="RABBITMQUSER" Value="guest" />
    <Property Id="RABBITMQPASSWORD" Value="guest" />
    <Property Id="RABBITMQPORT" Value="5672" />

    <Feature Id="ProductFeature" Title="Base Files" Level="1">
      <ComponentRef Id="CreateTemporaryFiles" />
      <ComponentGroupRef Id="Cli_Publish" />
      <ComponentGroupRef Id="Projection_Publish" />
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <!-- Skip license dialog -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="InpuDlg"
               Order="2">
        1
      </Publish>

      <Dialog Id="InpuDlg" Width="370" Height="270" Title="Anmeldeinformationen">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="WelcomeDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Servicebenutzer" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <Control Id="EventBusConnectionDis" Type="Text" X="20" Y="55" Width="100" Height="18" NoPrefix="yes" Text="EventBus Server: " />
        <Control Id="EventBusConnectionVar" Type="Edit" X="120" Y="50" Width="200" Height="18" Property="EVENTBUSCONNECTIONSERVER" Indirect="no" />

        <Control Id="EventStoreConnectionDis" Type="Text" X="20" Y="75" Width="100" Height="18" NoPrefix="yes" Text="EventStore Server: " />
        <Control Id="EventStoreConnectionVar" Type="Edit" X="120" Y="70" Width="200" Height="18" Property="EVENTSTORECONNECTIONURI" Indirect="no" />

        <Control Id="ProjectionStorageBackendDis" Type="Text" X="20" Y="95" Width="100" Height="18" NoPrefix="yes" Text="Projection-DB Backend: " />
        <Control Id="ProjectionStorageBackendVar" Type="Edit" X="120" Y="90" Width="200" Height="18" Property="PROJECTIONSTORAGEBACKEND" Indirect="no" />

        <Control Id="ProjectionStorageConnectionStringDis" Type="Text" X="20" Y="115" Width="100" Height="18" NoPrefix="yes" Text="Projection-DB ConnectionString: " />
        <Control Id="ProjectionStorageConnectionStringVar" Type="Edit" X="120" Y="110" Width="200" Height="18" Property="PROJECTIONSTORAGECONNECTIONSTRING" Indirect="no" />

        <Control Id="RabbitMqHostDis" Type="Text" X="20" Y="135" Width="100" Height="18" NoPrefix="yes" Text="RabbitMq Host: " />
        <Control Id="RabbitMqHostVar" Type="Edit" X="120" Y="130" Width="200" Height="18" Property="RABBITMQHOST" Indirect="no" />

        <Control Id="RabbitMqUserDis" Type="Text" X="20" Y="155" Width="100" Height="18" NoPrefix="yes" Text="RabbitMQ Benutzer: " />
        <Control Id="RabbitMqUserVar" Type="Edit" X="120" Y="150" Width="200" Height="18" Property="RABBITMQUSER" Indirect="no" />

        <Control Id="RabbitMqPasswordDis" Type="Text" X="20" Y="175" Width="100" Height="18" NoPrefix="yes" Text="RabbitMq Passwort: " />
        <Control Id="RabbitMqPasswordVar" Type="Edit" X="120" Y="170" Width="200" Height="18" Property="RABBITMQPASSWORD" Indirect="no" />

        <Control Id="RabbitMqPortDis" Type="Text" X="20" Y="195" Width="100" Height="18" NoPrefix="yes" Text="RabbitMq Port: " />
        <Control Id="RabbitMqPortVar" Type="Edit" X="120" Y="190" Width="200" Height="18" Property="RABBITMQPORT" Indirect="no" />
      </Dialog>

      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="InpuDlg"
               Order="2">
        1
      </Publish>
    </UI>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="A365ParentFolder" Name="A365">
          <Directory Id="INSTALLFOLDER" Name="$(var.ServiceName)">

            <Directory Id="InstallScripts" Name="_install">
              <Component Id="CreateTemporaryFiles">
                <!-- declare scripts for later reference -->
                <File Id="UpdateAppsettingsScript" Source="UpdateAppsettings.ps1" />
              </Component>
            </Directory>

            <Directory Id="INSTALLFOLDER_Cli" Name="Cli" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <CustomAction Id="UpdateAppsettings"
                  Directory="TARGETDIR"
                  ExeCommand="&quot;powershell.exe&quot; -ExecutionPolicy Unrestricted -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quot;[INSTALLFOLDER]_install\UpdateAppsettings.ps1&quot; -FilePath &quot;[INSTALLFOLDER]appsettings.json&quot; -EventBusConnectionServer &quot;[EVENTBUSCONNECTIONSERVER]&quot; -EventStoreConnectionUri &quot;[EVENTSTORECONNECTIONURI]&quot; -ProjectionStorageConnectionString &quot;[PROJECTIONSTORAGECONNECTIONSTRING]&quot; -ProjectionStorageBackend &quot;[PROJECTIONSTORAGEBACKEND]&quot; -RabbitMqHost &quot;[RABBITMQHOST]&quot; -RabbitMqUser &quot;[RABBITMQUSER]&quot; -RabbitMqPassword &quot;[RABBITMQPASSWORD]&quot; -RabbitMqPort &quot;[RABBITMQPORT]&quot;"
                  Execute="deferred"
                  Return="asyncNoWait"
                  Impersonate="no" />

    <CustomAction Id="ExecuteMigration"
                  Directory="TARGETDIR"
                  ExeCommand="dotnet &quot;[INSTALLFOLDER]Cli\Bechtle.A365.ConfigService.Cli.dll&quot; migrate -c &quot;[PROJECTIONSTORAGECONNECTIONSTRING]&quot;"
                  Execute="deferred"
                  Return="asyncNoWait"
                  Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="UpdateAppsettings" After="InstallFiles" />
      <Custom Action="ExecuteMigration" After="InstallFiles" />
    </InstallExecuteSequence>

  </Product>
</Wix>